<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados - Canary Analytics</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- JQuery -->
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logolink" class="navbar-brand" href="/">Canary Analytics</a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="/login"><i class="fa fa-sign-in"></i> Log in</a>
                    </li>
                    <li>
                        <a href="/profile"><i class="fa fa-user"></i> Perfil</a>
                    </li>
                    <li>
                        <a href="/busqueda"><i class="fa fa-search"></i> Busqueda</a>
                    </li>
                    <li>
                        <a class="active-menu" href="/busqueda"><i class="fa fa-folder-o"></i> Resultados</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                          Resultados <small> Twitter </small>
                      </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Resultados de la búsqueda
                            </div>
                            <div class="table-responsive">
                                <table width="200px" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Usuario</th>
                                            <th>Texto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 0; i < resultado.length; i++) { %>
                                            <tr>
                                                <td>
                                                    <%= resultado[i].user.screen_name %>
                                                </td>
                                                <td>
                                                    <%= resultado[i].text %>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- JS Scripts-->
        <!-- jQuery Js -->
        <script src="assets/js/jquery-1.10.2.js"></script>
        <!-- Bootstrap Js -->
        <script src="assets/js/bootstrap.min.js"></script>
        <!-- Custom Js -->
        <script src="js/index.js"></script>

</body>

</html>
